version: "3"

services:
  storage:
    build: ${wcts_storage_root}
    environment:
      - NEO4J_AUTH=neo4j/z24yLDCYZympaqgy
    image: wcts/storage:${wcts_storage_version}
    ports:
      - "7474:7474"
      - "7687:7687"
    volumes:
      - ~/neo4j_data:/data
  storage-api:
    build: ${wcts_storage_api_root}
    image: wcts/wcts-storage-api:${wcts_storage_api_version}
    ports:
      - "52629:52629"
  typing-engine:
      build: ${wcts_typing_engine_root}
      image: wcts/typing-engine:${wcts_typing_engine_version}
      ports:
        - "44284:44284"
      volumes:
        - ${wcts_typing_engine_root}/typing-engine.conf.js:/conf/typing-engine.conf.js:ro
  annotation-proxy:
    build: ../annotation-proxy
    image: thesis/annotation-proxy:latest
    ports:
      - "29136:29136"
  web-app:
    build: ${wcts_web_app_root}
    image: wcts/web-app:${wcts_web_app_version}
    ports:
      - "80:80"