version: "3"

services:
  site-analyser:
    build: ./site-analyser
    image: thesis/site-analyser:latest
    ports:
      - "44284:44284"
    volumes:
      - ./site-analyser/site-analyser.conf.js:/conf/site-analyser.conf.js:ro
  storage:
    image: neo4j:latest
    ports:
      - "7474:7474"
      - "7687:7687"
    volumes:
      - ~/neo4j_data:/data
  storage-gateway:
    build: ./storage-gateway
    image: thesis/storage-gateway:latest
    ports:
      - "52629:52629"
  test-page:
    image: httpd:latest
    ports:
      - "80:80"
    volumes:
      - ./test-website:/usr/local/apache2/htdocs/:ro