version: "3"

services:
  annotation-service:
    build: ${wccs_annotation_service_root}
    image: wccs/annotation-service:${wccs_annotation_service_version}
    ports:
      - "16612:16612"
  annotation-viewer:
    build: ${wcts_annotation_viewer_root}
    image: wcts/annotation-viewer:${wcts_annotation_viewer_version}
    ports:
      - "29136:29136"
  classification-storage:
    build: ${wccs_classification_storage_root}
    environment:
      - NEO4J_AUTH=neo4j/z24yLDCYZympaqgy
    image: wccs/classification-storage:${wccs_classification_storage_version}
    ports:
      - "7474:7474"
      - "7687:7687"
    volumes:
      - /opt/wccs/classification-storage/data:/data
  classification-storage-api:
    build: ${wccs_classification_storage_api_root}
    image: wccs/classification-storage-api:${wccs_classification_storage_api_version}
    environment:
      NEO4J_USER: neo4j
      NEO4J_PASSWORD: z24yLDCYZympaqgy
    ports:
      - "52629:52629"
  typing-engine:
      build: ${wcts_typing_engine_root}
      image: wcts/typing-engine:${wcts_typing_engine_version}
      ports:
        - "44284:44284"
      volumes:
        - ${wcts_typing_engine_root}/resources/typing-engine.conf.json:/conf/typing-engine.conf.json:ro
  web-app:
    build: ${wcts_web_app_root}
    image: wcts/web-app:${wcts_web_app_version}
    ports:
      - "80:80"
